
body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #011827;
}

.logo-container {
    display: flex;
    align-items: flex-end;
    height: 100px;
    width: 400px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-left: 5%;
}

.logo-img {
    height: 150px;
    width: auto;
}

.logo-text {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
}

.logo-text h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

nav {
    width: 80%;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    width: auto;
    display: inline-block;
}
a:hover {
    color: #8ACFE5;
}

nav ul {
    display: flex;
    list-style-type:none;
    z-index: 3;
}

nav li {
    margin-left: 2%;
    width: 25%;
}

  .hamburger {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1%;
    right: 7%;
    z-index: 0;
  }
  
  .hamburger .bar {
    height: 6px;
    width: 55px;
    background-color: white;
    margin: 8px 0;
    transition: 0.4s;
    border-radius: 999px;
  }

@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.background-fade {
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ham-open {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #011827;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    position: fixed;
    background-color: #011827;
    width: 90%;
    height: 95%;
    top: 15px;
    left: 5%;
    right: 5%;
    z-index: 5;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.ham-closed {
    display: none;
}

.white-x {
    top: 1%;
    right: 3%;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
  }
  
  .white-x::before, .white-x::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 6px; 
    border-radius: 999px;
    background-color: white;
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  .white-x::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .white-x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.ham-open ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    z-index: 5;
}

.ham-open li {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: white;
    z-index: 5;
}

.ham-open a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 30px;
    z-index: 5;
}

.challenge-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -27px;
}

button{
    background-color: #E3170A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.on-site-button {
    background-color: #8ACFE5;
    color: black;
    margin-left: 2%;
}

.challenge-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2%;
}

.quotes {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.quote {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    width: 80%;
}

.quote-text {
    margin-top: -20px;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
}

.quote-date {
    max-width: 220px;
    font-weight: 500;
    font-size: 14px;
}

.user-picture {
    display: flex;
    flex-shrink: 0;
    max-width: 100px;
    max-height: 100px;
}

h1 {
    color: white;
    width: 20%;
    margin-left: 1%;
}

.hacker-top {
    margin-top: -15px;
    height: 100%;
    max-width: 100%;
}

.logo-container{
    width: 100%;
    display: flex;
}

.logo {
    margin-left: 5%;
}

.coding-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-h1-slot {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cards-h1 {
    display:inline-block;
    flex-wrap: nowrap;
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
    min-width: 100%;
    font-weight: 400;
    font-size: 25px;
}

.cards {
    padding: 2px 16px;
    padding-bottom: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
}

.card-text {
    margin-left: 5%;
}

.card-stars {
    display: flex;
    gap: 2%;
}

.card-button {
    display: flex;
    justify-content: flex-end;
}

.card-players {
    margin-left: 80%;
    margin-top: -5%;
    font-size: smaller;
    font-style: italic;
}

.hacker-card {
    min-width: 50%;
    height: 200px;
}

#no-margin {
    margin: 0%;
}

.story {
    display: flex;
    justify-content: center;
    background-color: #011827;
    height: 50%;
}

.story-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 8%;
}

.story-text {
    color: white;
    font-weight: 300;
    font-size: large;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}

.transparent-button {
    background-color:unset;
    border:solid;
    border-radius: 5px;
    border-color: #8ACFE5;
    color: #8ACFE5;
}

.play-friends {
    display: flex;
    flex-direction: column;
}

.play-friends-content {
    display: flex;
    flex-direction: row;
}


.play-friends-picture {
    height: 100%;
    max-width: 100%;
}

.play-friends-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 40%;
}

.play-friends h1 {
    color: black;
    width: 100%;
}

.play-friends button {
    align-self: flex-start;
}

#reverse {
    flex-direction: row-reverse;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #011827;
}

.footer-info {
    width: 30%;
    margin-left: 8%;
    margin-right: 15%;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: white;
}

.footer ul {
    list-style: none;
    padding-left: 0%;
    margin-top: 0%;
}

.footer a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1300px) {
    .card-container {
        overflow-x:scroll;
        overflow: hidden;
        max-width: 100%;
        margin-left: 5%;
        padding-bottom: 5%;
        justify-content: flex-start;
    }
    
    .card {
        width: 400px;
    }
}


@media screen and (max-width: 1600px) {

    .logo-text h1 {
        font-size: 29px;
    }

    nav a {
        font-size: 23px;
    }
}

@media screen and (max-width: 1400px) {

    .logo-text h1 {
        font-size: 28px;
    }

    nav a {
        font-size: 22px;
    }
}

@media screen and (max-width: 1200px) {

    .logo-text h1 {
        font-size: 27px;
    }
    
    nav a {
        font-size: 21px;
    }
}

@media screen and (max-width: 1000px) {

    .logo-text h1 {
        font-size: 26px;
    }
    
    nav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {

    .logo-text h1 {
        font-size: 25px;
    }
    
    nav a {
        font-size: 19px;
    }
}


@media screen and (max-width: 600px) {
    #hidden {
        display: none;
    }

    .logo-text h1 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .logo-container {
        margin-bottom: 30px;
    }
    
    .quotes {
        margin-top: 10%;
        margin-left: 10%;
    }

    .user-picture {
        max-width: 80px;
        max-height: 80px;
    }

    .quote-date {
        max-width: 300px;
    }

    .story {
        margin-top: 50px;
    }

    .play-friends-content {
        flex-direction: column;
    }

    .play-friends p {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .play-friends-slot {
        max-width: 100%;
        margin-bottom: 50px;
    }

    #reverse {
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-info {
        width:75%;
        margin-left: 5%;
    }

    .footer-links {
        width: 20%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 600px){
    #shown {
        display: none;
    }
}


